<style>
  p{
    font-size: 2vh 2vw;
  }
</style>
<footer class="footer mt-auto py-1 bg-dark fixed-bottom" >
  <div class="container">
    <p class="mt-2 text-light text-center">Copyright © 2021 ▫ BariBike ▫ Todos los derechos reservados.</p>
  </div>
</footer>