<style>
    .fondo{
        background-color: rgb(204, 207, 207);
        border-radius: 20px;
        font-size: 2vh;    
    }
    h1{
        font-size: 5vh
    }

</style>

<div class="container-fluid mt-2">
    <div class="row justify-content-center mt-5 p-3">
        <div class="fondo col-md-6">
            <h1>{{title}}</h1>
            <p>
                Somos un local de alquiler de bicicletas ubicado en el km 20 Av.Bustillo, San Carlos de Bariloche, donde podes recorrer el oeste de Bariloche, 
                ir por circuito chico y apreciar los hermosos paisajes mientras realizas deporte, donde podras ir a Colonia Suiza, 
                descansar en la playa y meterte al lago moreno. 
            </p>
            <h4>Nuestros horarios:</h4>
            <p>Abierto todo el año</p>
            <h5>Verano</h5>
            <ul>
                <li>de 10:00hs a 19:30hs</li>  
            </ul>
            <h5>Invierno</h5>
            <ul>
            <li>de 10:30hs a 17:30hs</li>  
            </ul>
        </div>
    </div>
</div>
