<style>
section {
    background-color: rgb(204, 207, 207);
    border-radius: 20px;
    font-size: 2vh;
    }    
</style>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <section class="p-3">
            <h1 class="justify-center">{{title}}</h1>
                <p>Si deseas comunicarte con nosotros lo puedes hacer a traves de estos medios </p>
                <ul>
                    <li>Tel: 4444444</li>
                    <li>Cel: 2944333333</li>
                    <li>Email: baribike@gmail.com</li>
                    <li>Direccion: Avenida Bustillo km20 - San Carlos de Bariloche - Argentina</li>
                </ul>
            </section>  
        </div>
    </div>
</div>


