<style>
  .row { color: rgb(153, 33, 33); font-family: Verdana; }
  .img-block{ width: 100%;}

    h2,h5, li {
        color: rgb(240, 238, 238);
    }
</style>
        <img src="/images/bicicletaaaa.png" alt="imagen de dos personas andando en bicicleta" class="img-block" >  
           
<hr>
<div class="container">
    <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
            <h2>Alquiler de bicicletas:</h2>
            <h5>Bicicleta Standard</h5>
            <ul>
                <li>⏱ 6hs aprox</li>
                <li>📅 Disponibilidad: Todo el año</li>
            </ul>
            <h5>Precio</h5>
            <ul>
                <li>Desde 💲1500 pesos</li>
            </ul>
            <h5>Detalles</h5>
            <ul>
                <li>Las bicicletas rodado 26 y 29 son las standard, aptas para todo público.</li>
                <li>Marcos disponibles para ciclistas desde 150cm hasta 210cm de altura.</li>
                <li>Cuentan con suspensión delantera sin bloqueo, frenos a disco mecánicos, 21 cambios, inflador y candado. Incluye casco (de uso obligatorio) y mapa.</li>
                <li>*Equipo no apto para modalidad de descenso*</li>
            </ul>
            <h5>El precio incluye</h5>
            <ul>
                <li>✔ Bicicleta rodado 26</li>
                <li>✔ Casco y chaleco de seguridad vial (de uso obligatorio)</li>
                <li>✔ Inflador</li>
                <li>✔ Llave y candado</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="/images/bicicleta.jpg" alt="bicicleta" style="width: 100% ">
            <img src="/images/bicicletass.jpg" alt="bicicletas" style="width: 100% ">
            
        </div>
    </div>
</div>
